<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>User Pages</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="/"><i class="fa fa-angle-double-right"></i>Home</a></li>
                    <li><a href="/tournament"><i class="fa fa-angle-double-right"></i>Tournament Results</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Admin Pages</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="/tournamentManagement"><i class="fa fa-angle-double-right"></i>Tournament
                            Management</a></li>
                    <li><a href="/management"><i class="fa fa-angle-double-right"></i>Manage Team</a></li>
                    <li><a href="/lineup"><i class="fa fa-angle-double-right"></i>Shuffle Lineup</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>