<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Quick links</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Manage Team</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Upcoming Tournaments</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>