<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tournament</title>

    <%- include('layouts/cdn'); -%>
    <script src="/js/index.js"></script>
    <link href="/stylesheets/style.css" rel="stylesheet">
</head>

<body>
    <%- include('layouts/header'); -%>
    <h1>Tournament Page</h1>
    <%- include('layouts/footer'); -%>
</body>

</html>

</html>